# BetterAuth Configuration
NEXT_PUBLIC_BASE_URL=http://localhost:3000
BETTER_AUTH_SECRET=your-secret-key-here

# Base de données
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/boutique_cogi

# Stripe
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# URLs publiques
NEXT_PUBLIC_API_URL=http://localhost:3000/api